@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-pradao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Naue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-pradao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); /* adicionando gradiante na imagem*/
    min-height: 150px; /*Autura minima*/
    
    padding-top: 30px;
}

header > h1 {
    text-align: center;
    color: white;
    font-family: var(--fonte-android);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px; /*Não deixa o texto enconstar nos cantos*/
    margin-left: 5px; /*Não deixa o texto encontar nos cantos */
    margin-right: 5px;
    text-shadow: 2px 2px 0px black; /* adicionando sombras*/
}

header > p {
    text-align: center;
    font-family: var(--fonte-pradao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(80, 80, 80, 0.349); /* adicionando sombras*/
};


header  nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px black;
    text-align: initial;
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(43, 43, 43);
    /* arredondando as bordar de maneira individual */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
}

main img .pequena {
    max-width: 50%;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height:90% ;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;

}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgb(146, 146, 146);
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}